*Objects*
objects*/
*.dbg
*.a
Paladin/Paladin
Tests/PaladinTests
Paladin/.hg
Paladin/Paladin.new
Paladin/Paladin.rsrc
SymbolFinder/SymbolFinder
*.o
*.sfx
libpaladin.so
*.nodebug.pld
.depends-all
*.log
*.db
*.swg
*.archimate.bak
*.gcda
*.gcno
*.info
Tests/out
Paladin/Templates/Sample\ VerticalSlider/VerticalSlider
Paladin/Templates/Sample\ AwesomeSaver/AwesomeSaver
Paladin/Templates/Sample\ ButtonPress/ButtonPress
Paladin/Templates/Sample\ FallLeaves/FallLeaves 
Paladin/Templates/Sample\ FileDialog/FileDialog
Paladin/Templates/Sample\ HaikuFortune/HaikuFortune
Paladin/Templates/Sample\ ListDirectory/ListDirectory
Paladin/Templates/Sample\ ListItems/ListItems
Paladin/Templates/Sample\ LoadResources/LoadResources
Paladin/Templates/Sample\ MenuBar/MenuBar


