*Objects*
objects*/
*.dbg
*.a
Paladin/Paladin
Tests/PaladinTests
Paladin/.hg
Paladin/Paladin.new
Paladin/Paladin.rsrc
SymbolFinder/SymbolFinder
*.o
*.sfx
libpaladin.so
*.nodebug.pld
.depends-all
*.log
*.db
*.swg
*.archimate.bak
